{
	"extends": ["airbnb", "airbnb/hooks", "plugin:jest/recommended"],
	"rules": {
		"react/jsx-filename-extension": [0],
		"comma-dangle": [0],
		"react/prop-types": [0],
		"react/jsx-props-no-spreading": [0],
		"object-curly-newline": [0]
	},
  "plugins": ["jest"]
}